<nav>
    <a href="/">Главная</a> | <a href="/name">ФИО</a> | <a href="/contacts">Контакты</a> | <a href="/info">Информация</a> | <a href="/skills">Навыки</a> | <a href="/languages">Языки</a>
</nav>